@import "tailwindcss";

body {
    @apply bg-slate-50 text-slate-900 antialiased;
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
    background-size: 32px 32px;
    /* O segredo do visual "Tech" */
}

/* Máscara para o grid não ficar no site todo (foca no centro) */
.bg-mask-gradient {
    mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
}

/* Scrollbar invisível */
::-webkit-scrollbar {
    width: 0px;
}